include modal.pug

mixin IncludeCSS(filename)
    - let path = `assets/css/${filename}`
    link(rel="stylesheet", href=path)

mixin IncludeJS(filename)
    - let path = `assets/js/${filename}`
    script(src=path)

mixin InputRadio(name, label, value)
    label.radio= label
        input(type="radio" name=name value=value)
        span.checkmark

mixin BtnMenu()
    button.btn__menu
        span

mixin Infobar()
    header
        .infobar
            .container
                .wrapper
                    .form__city(value="Москва")
                        span.text Ваш город:
                        span.city Москва
                        .select
                            span Истра
                            span Нфыварколыв
                            span Москва
                    span.address Походный проезд, д.4, корп. 1, офис 317 А, 3-й этаж
                .wrapper
                    .schedule
                        span Пн-Пт 9:00-18:00
                    button.btn.red Задать вопрос

mixin Navbar()
    .navbar
        .container
            a.logo
                img(src="assets/images/logo.png", alt="")
            .wrapper
                .contacts__wrapper
                    .contact.phone
                        a(href="tel:8 (495) 698-60-99") 8 (495) 698-60-99
                        a(href="tel:8 (800) 505-01-97") 8 (800) 505-01-97
                    .contact.email
                        a(href="mailto:zakaz@alfa-ms.ru") zakaz@alfa-ms.ru
                button.btn.red Заказать звонок
                .cart
                    .icon
                        img(src="assets/images/icons/cart.png", alt="")
                        span.total__count 0
                    .wrapper
                        span.total__cost 0 р.
                        a.goto__cart(href="") Оформить заказ 
        .container
            .menu
                .catalog__wrapper 
                    a(href="/catalog.html")  Каталог мебели
                    .catalog
                        a(href="") Мебель для персонала
                        a(href="") Кабинеты руководителя
                        a(href="") Офисные кресла
                        a(href="") Офисные диваны
                        a(href="") Модульная мягкая мебель  
                        a(href="") Стойки ресепшн
                        a(href="") Столы переговоров
                        a(href="") Офисные перегородки
                        a(href="") Многоместные секции
                        a(href="") Металлическая мебель
                        a(href="") Сейфы
                        a(href="") Гостиничная мебель
                        a(href="") Кухни для офиса
                        a(href="") Аксессуары для офиса
                        a(href="") Мебель для кафе и ресторанов
                        a(href="") Мебель для школ и детских садов
                        a(href="") Геймерские столы
                        a(href="") Офисная мебель для дома          
                a(href="") О компании
                a(href="") Наши проекты 
                a(href="") Дизайнерам
                a(href="") Новости
                a(href="") Отзывы
                a(href="") Контакты
            .search__form
                form(action="/" method="get")
                    .search__input
                        input(type="text" placeholder="Я хочу найти..." name="query" value="")
                        button 

mixin QuestionForm()
    form(action="").question__form
        h2 Появились вопросы?
        p Вы можете задать интересующий Вас вопрос в этой форме, просто заполните необходимые поля и наш менеджер свяжется с Вами в ближайщее время
        .wrapper
            input(type="text" name="name" placeholder="Как вас зовут?")
            input(type="text" name="phone" placeholder="Ваш номер телефона?")
        button.btn.red Задать вопрос
        span.policy Нажимая на кнопку, я соглашаюсь с политикой конфиденциальности

mixin Footer()
    footer
        .container.first__line
            .col 
                span.footer__title Информация
                .menu__wrapper
                    a(href="") О компании
                    a(href="") Наши предметы
                    a(href="") Дизайнерам
                    a(href="") Новости
                    a(href="") Отзывы
                    a(href="") Контакты
            .col 
                .catalog__menu
                    a(href="") Кабинеты руководителя
                    a(href="") Мебель для персонала
                    a(href="") Модульная мягкая мебель
                    a(href="") Офисные диваны
                    a(href="") Офисные кресла
                    a(href="") Стойки ресепшн
            .col
                .catalog__menu
                    a(href="") Столы переговоров 
                    a(href="") Офисные перегородки
                    a(href="") Многоместные секции
                    a(href="") Металлическая мебель
                    a(href="") Сейфы
                    a(href="") Гостиничная мебель
            .col
                .catalog__menu
                    a(href="") Кухни для офиса
                    a(href="") Аксессуары для офиса
                    a(href="") Мебель для кафе и ресторанов
            .col
                span.footer__title Популярные модели
                .catalog__menu
                    a(href="") Imago офисная мебель
                    a(href="") Мебель для персонала Арго
                    a(href="") Мебель для персонала RIVA   
        .container.second__line
            .col__contacts
                span.footer__title Контакты
                .contacts__wrapper
                    .contact.address Походный проезд, д.4, корп. 1, офис 317 А, 3-й этаж
                    .contact.phone 
                        a(href="") +7 (495) 698-60-99 
                        a(href="") 8 (800) 505-01-97 
                .btns__wrapper
                    button.btn.red Заказать звонок
                    button.btn.red Задать вопрос
            .col__schedule
                span.footer__title Время работы:
                .schedule
                    span Пн-Пт 9:00-18:00
            .col__soc
                span.footer__title Мы в соц. сетях:
                .soc__wrapper
                    a(href="").soc
                        img(src="assets/images/icons/vk.png", alt="")
                    a(href="").soc
                        img(src="assets/images/icons/fb.png", alt="")
                    a(href="").soc
                        img(src="assets/images/icons/tw.png", alt="")
                    a(href="").soc
                        img(src="assets/images/icons/pn.png", alt="")
                    a(href="").soc
                        img(src="assets/images/icons/ok.png", alt="")
                    a(href="").soc
                        img(src="assets/images/icons/in.png", alt="")
                    a(href="").soc
                        img(src="assets/images/icons/yt.png", alt="")
                    a(href="").soc
                        img(src="assets/images/icons/gl.png", alt="")
        .container.last__line
            span.copyright © 2009-2021 ООО "Офисная мебель АЛЬФА-М" офисная мебель Москва
            span.info *Цены и сведения указанные в интернет-магазине «Офисная мебель АЛЬФА-М» в городе Москва не являются публичной офертой и носят исключительно информационный характер (ст. 437 Гражданского кодекса РФ). Уточнить указанные данные можно по электронной почте или контактному номеру.
            .wrapper
                a(href="").policy Политика конфиденциальности
                .salut
                    span 
                        |Разработка сайта - 
                        a(href="https://salut-promo.ru/") Salut Promo 

mixin MorePluses()
    section.more__pluses
        .container
            .pluses__wrapper
                .plus
                    img(src="assets/images/more_pluses/1.png", alt="")
                    span.desc Команда высококлассных специалистов мебельного бизнеса
                .plus
                    img(src="assets/images/more_pluses/2.png", alt="")
                    span.desc Огромный ассортимент мебели от эконом до VIP-класса
                .plus
                    img(src="assets/images/more_pluses/3.png", alt="")
                    span.desc Лучшая офисная мебель, по самой низкой цене
                .plus
                    img(src="assets/images/more_pluses/4.png", alt="")
                    span.desc Профессиональная сборка мебели
                .plus
                    img(src="assets/images/more_pluses/5.png", alt="")
                    span.desc Срочная доставка офисной мебели
                .plus
                    img(src="assets/images/more_pluses/6.png", alt="")
                    span.desc 10 лет успеха на рынке

mixin OurPartners()
    section.our__partners
        .container
            .owl-carousel
                .partner
                    img(src="assets/images/partners/1.png", alt="")
                .partner
                    img(src="assets/images/partners/2.png", alt="")
                .partner
                    img(src="assets/images/partners/3.png", alt="")
                .partner
                    img(src="assets/images/partners/4.png", alt="")
            .owl-nav


